{% extends 'base.html' %}

{% block body %}
<h1>LOGIN</h1>
<form action='' method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button>로그인</button>
</form>
<button type="button" onclick="location.href='{% url 'accounts:signup' %}' ">회원가입</button>
<button type="button" onclick="location.href='{% url 'articles:index' %}' ">BACK</button>
{% endblock %}