{% extends 'base.html' %}

{% block body %}
<h1>SIGN UP</h1><hr>
<form action='' method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button>회원가입</button>
</form>
<button type="button" onclick="location.href='{% url 'accounts:login' %}' ">로그인</button>
<button type="button" onclick="location.href='{% url 'articles:index' %}' ">BACK</button>
{% endblock %}