{% extends 'base.html' %}

{% block body %}
{% if request.resolver_match.url_name == 'create' %}
    <h1>Create</h1>
{% else %}
    <h1>Update</h1>
{% endif %}
<form action="" method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button>제출</button>
</form>
<button type="button" onclick="location.href='{% url 'articles:index' %}' ">BACK</button>
{% endblock %}