{% extends 'base.html' %}

{% block body %}
<h1>DETAIL</h1>
<h2>{{ article.pk}}번 글</h2>
<h2>제목 : {{ article.title }}</h2>
<h3>내용 : {{ article.content }}</h2>
<h4>최초 등록 시간 : {{ article.created_at }}</h4>
<h4>글 수정 시간 : {{ article.updated_at }}</h4>
<form action="{% url 'articles:delete' article.pk %}" method='POST'>
    {% csrf_token %}
    <button>삭제</button>
</form>
<form action="{% url 'articles:update' article.pk %}">
    {% csrf_token %}
    <button>수정</button>
</form>
{% endblock %}