{% extends 'base.html' %}

{% block body %}
<h1>INDEX</h1>
<a href="{% url 'articles:create' %}">글 쓰기</a>
{% for article in articles %}
<h2>{{ article.pk }}번째 글</h2>
<h2>{{ article.title }}</h2>
<a href="{% url 'articles:detail' article.pk %}">DETAIL</a>
<hr>
{% endfor %}
{% endblock %}